.navbar{
    background-color: #1F2833;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo{
    font-weight: bold;
    font-size: 28px;
    margin: 15px;
    color: white;
}

.nav_items a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 20px;
    color: white;
    position: relative;
    text-decoration: none;
}

.links{
    width: 50px;
    transition: all 0.5s ease-in-out;
}

.links:hover{
    padding: 5px;
    border-radius: 5px;
    border-bottom: 2px solid white;
    background-color: #45A293;
}

.nav_toggle{
    display: none;
}

.redesSociales{
    display: none;
}

@media (max-width: 768px){
    .nav_items{
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #1F2833;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: -webkit-fill-available;
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }
    
    .nav_items.open{
        transform: translateX(0) !important;
    }

    .links{
        width: 100%;
    }

    .links:hover{
        padding: 10px;
        border-radius: 5px;
        border-bottom: 2px solid white;
        background-color: #45A293;
    }

    .nav_toggle{
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }

    .nav_toggle span{
        width: 30px;
        height: 4px;
        background-color: white;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .nav_toggle.open > span{
        transform: rotate(45deg) translate(0px, 0px);
    }

    .nav_toggle.open > span:nth-child(2){
        display: none;
    }

    .nav_toggle.open > span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
    }

    .redesSociales{
        display: flex;
    }

    .iconosRedesSociales{
        transition: all 0.3s ease-in-out;
    }

    .iconosRedesSociales:hover{
        border-radius: 5px;
        padding: 5px;
        background-color: #45A293;
    }

}

